<%- include ('partials/header.ejs', {title: 'Home'}) %> <%- include ('partials/navbar.ejs') %>
<main>
  <div class="container">
    <h4 class="mt-2 text-center w-full"><%= date %></h4>
    <hr class="bg-secondary border-primary" />
    <ul class="row gap-2 justify-content-center d-flex list-unstyled">
      <% metereologies.map((metereology)=> { %>
      <li class="card card-body mb-2 shadow page-link border" style="max-width: 15rem">
        <div class="card-header bg-primary-subtle">
          <h4><%= metereology.capital %></h4>
        </div>
        <div class="card-body">
          <p>Mínima: <b class="text-info"> <%= metereology.tempMin %> </b></p>
          <p>Máxima: <b class="text-danger"> <%= metereology.tempMax %> </b></p>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</main>
<%- include ('partials/footer.ejs') %>
