<%- include ('partials/header.ejs', {title: 'Busca'}) %> <%- include ('partials/navbar.ejs') %>
<main>
  <div class="container-md">
    <hr class="bg-secondary border-primary" />
    <div class="row g-0">
      <div class="card shadow border" style="max-width: 16rem">
        <div class="card-header bg-primary-subtle">
          <h4><%= metereology.capital %></h4>
        </div>
        <div class="card-body">
          <p>Mínima: <b class="text-info"> <%= metereology.tempMin %> </b></p>
          <p>Máxima: <b class="text-danger"> <%= metereology.tempMax %> </b></p>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ('partials/footer.ejs') %>
